[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
openai = "*"
fastapi = "*"
metaphor-python = "*"
python-dotenv = "*"
google-cloud-logging = "*"
uvicorn = {extras = ["standard"], version = "*"}
pypdf2 = "*"
docx2txt = "*"
beautifulsoup4 = "*"
fastapi-limiter = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
